<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Walcron Main website</title>
  </head>
  <body>
    This page is not served directly, please visit
    <a href="https://zelda.walcron.com">Walcron Microfrontend</a>.
  </body>
</html>
